*.slo
*.lo
*.o
*.obj

*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

.idea/
*.iml
*.ipr
*.iws
dev/
client/node_modules

.vscode

.DS_Store

vendor/
Gemfile.lock
.bundle

docs/xml/
docs/build
