*.slo
*.lo
*.o
*.obj

*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules

.vscode

.DS_Store

platformio.ini
.pio
.clang_complete
.gcc-flags.json
.travis.yml
test/
lib/
include/
